# Pandas: grouping

In [2]:
import pandas as pd
import numpy as np

In [3]:
cars = pd.read_csv("data/vehicles.csv")

In [4]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

How many Car models?

In [5]:
cars['Model'].nunique()

3608

group by the data by the Make  using count function

In [30]:
cars.groupby(['Make'])['Make'].count()

Make
AM General                        4
ASC Incorporated                  1
Acura                           302
Alfa Romeo                       41
American Motors Corporation      22
                               ...
Volkswagen                     1047
Volvo                           717
Wallace Environmental            32
Yugo                              8
smart                            20
Name: Make, Length: 127, dtype: int64

Converting Grams/Mile to Grams/Km

1 Mile = 1.60934 Km

Converting Gallons to Liters

1 Gallon = 3.78541 Liters

What brand has the most cars?

In [6]:
most_cars = cars['Make'].mode()
print(most_cars[0])

Chevrolet

<b>show the average CO2_Emission_Grams/Km  by Brand

In [13]:
a = cars['CO2 Emission Grams/Mile'] = cars['CO2 Emission Grams/Km']/1.60934
a

0        125.418858
1        164.009276
2        133.257536
3        164.009276
4        133.257536
            ...
35947     58.539150
35948     58.299235
35949     58.539150
35950     59.018979
35951     61.178210
Name: CO2 Emission Grams/Km, Length: 35952, dtype: float64

In [36]:
b= cars.groupby('Make')['CO2 Emission Grams/Km'].mean()
b

Make
AM General                     236.047911
ASC Incorporated               214.456684
Acura                          163.161917
Alfa Romeo                     179.133804
American Motors Corporation    195.275544
                                  ...
Volkswagen                     151.639180
Volvo                          168.265607
Wallace Environmental          254.052633
Yugo                           137.479406
smart                           95.379505
Name: CO2 Emission Grams/Km, Length: 127, dtype: float64

In [43]:
b_frame = pd.DataFrame(b)
b_frame

                             CO2 Emission Grams/Km
Make
AM General                              236.047911
ASC Incorporated                        214.456684
Acura                                   163.161917
Alfa Romeo                              179.133804
American Motors Corporation             195.275544
...                                            ...
Volkswagen                              151.639180
Volvo                                   168.265607
Wallace Environmental                   254.052633
Yugo                                    137.479406
smart                                    95.379505

[127 rows x 1 columns]

<b>show the average CO2_Emission_Grams/Km  by Brand ... sorted

In [46]:
b_frame.sort_values(by = ['CO2 Emission Grams/Km'] ,ascending= False)  #ascending false büyükten küçüğe sıralanmasını sağladı.

                                    CO2 Emission Grams/Km
Make
Vector                                         405.084847
Superior Coaches Div E.p. Dutton               343.130694
S and S Coach Company  E.p. Dutton             343.130694
Bugatti                                        337.092991
Laforza Automobile Inc                         311.936995
...                                                   ...
MINI                                           121.127360
Daihatsu                                       119.764875
Fiat                                           117.633001
smart                                           95.379505
Fisker                                          65.251589

[127 rows x 1 columns]

# (Optional)

Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade.

In [5]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [ ]:
## your code here

### Did cars consume more gas in the eighties?

show the average City_Km/Liter by year_range

In [ ]:
### your code is here

Which brands are more environment friendly?

In [ ]:
### your code is here

Does the drivetrain affect fuel consumption?

In [ ]:
## Your Code here

Do cars with automatic transmission consume more fuel than cars with manual transmission?

In [ ]:
## Your Code here

Use `groupby` and `agg` with different aggregation measures for different columns:

aggregate with average City_Km/Liter and the count of the Trans

In [ ]:
## your code is here

aggregate with average City_Km/Liter and the minimum of the Trans

In [ ]:
### your code is here