In [36]:
import pandas as pd

In [37]:
students = pd.read_csv('student_df.csv')

In [39]:
students.head()

   student_id student__first_name    country  age  has_rabbit
0           1               David  Argentina   24        True
1           2               Grace     Canada   23       False
2           3               Julia     Mexico   24       False
3           4               Julia     Mexico   20       False
4           5               Alice     Canada   22       False

In [40]:
students

     student_id student__first_name    country  age  has_rabbit
0             1               David  Argentina   24        True
1             2               Grace     Canada   23       False
2             3               Julia     Mexico   24       False
3             4               Julia     Mexico   20       False
4             5               Alice     Canada   22       False
..          ...                 ...        ...  ...         ...
995         996               Frank     Canada   24       False
996         997               Isaac     Brazil   21       False
997         998               Isaac     Canada   23        True
998         999                Emma        USA   24        True
999        1000               Alice        USA   19        True

[1000 rows x 5 columns]

In [41]:
students = students.sort_values('country')

In [24]:
students.country.unique()

array(['Argentina', 'Canada', 'Mexico', 'Brazil', 'USA'], dtype=object)

In [30]:
df = students.DataFrame(country = ['Argentina' , 'Mexico' , 'Brazil'])

AttributeError: 'DataFrame' object has no attribute 'DataFrame'

In [31]:
grouped= students['country'] >= 'Argentina' , 'Mexico' , 'Brazil'

In [35]:
df1 = students[grouped]

InvalidIndexError: (0      True
1      True
2      True
3      True
4      True
       ...
995    True
996    True
997    True
998    True
999    True
Name: country, Length: 1000, dtype: bool, 'Mexico', 'Brazil')